# Comportamento predefinito
* text=auto

# C# e Visual Studio
*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.editorconfig text eol=crlf

# Sviluppo Web
*.js text
*.ts text
*.jsx text
*.tsx text
*.css text
*.scss text
*.html text
*.json text

# Documentazione
*.md text